/* Home Page*/
body
{
    background-image: url(Images/forest.jpg);
}

#header
{
    display: inline-flex;
}
#header h1
{
    font-size: large;
    text-align: center;
    padding-left: 10px;
    padding-top: 50px;
}

#header
{
    color: white;
    text-transform: uppercase;
}

#logo
{
    height: 100px;
    width: 100px;
    border-radius: 10rem;
}

#navbar
{
    background-color: whitesmoke;
    padding-left: 15rem;
}

#menu-bar li
{
    display: inline-flex;
    margin: 0.8rem;
    padding-left: 2rem;
}

#menu-bar li a
{
    text-decoration: none;   
}

#menu-bar li a:hover
{
    color: darkorange;
}
p
{
    text-align: center;
    color: white;
}
#homepageimage
{
    display: flex;
    width: 600px;
    height: 400px;
}
h2
{
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
}

h2::after
{
    content: '';
    background: rgb(0, 0, 0);
    display: block;
    height: 3px;
    width: 250px;
    margin: 10px auto;
}

h3
{
    text-align: center;
    margin-top: 0rem;
}

.socialMedia
{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-left: 35rem;
}

/* Team Page */
.row
{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 215px;
}

.team
{
    margin: 75px 0;
}

.team h2
{
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
}

.team h2::after
{
    content: '';
    background: rgb(0, 0, 0);
    display: block;
    height: 3px;
    width: 250px;
    margin: 10px auto;
}

.profile
{
    margin-top: 25px;
}

.profile .img-box
{
    opacity: 1;
    display: block;
    position: relative;
}

.profile h3
{
    margin-top: -25px;
    text-align: center;
    font-size: 33px;
}

.profile h4
{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: -25px;
}

.team p
{
    text-align: center;
}

.img-box ul
{
    gap: 0px;
}

.socialmediaTeam01 ul
{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.socialmediaTeam02 ul
{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 7rem;
    padding-bottom: 1rem;
}
.socialmediaTeam03 ul
{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 3rem;
    padding-bottom: 1rem;
}

/* Portfolio */
.YearTwentyTwenty
{
    text-align: center;
}

.YearTwentyTwenty h2
{
    margin-top: 5rem;
}

.YearTwentyTwenty .washerlogo
{
    border-radius: 15rem;
    width: 150px;
    height: 150px;
}

.YearTwentyTwenty img
{
    border-radius: 2rem;
    width: 20px;
    height: 20px;
}

.YearTwentyTwenty .collab
{
    color: white;
    text-align: center;
    
}
hr
{
    margin-top: 5rem;
}

.YearTwentyOne
{
    margin-top: 5rem;
    text-align: center;
}

.YearTwentyOne .sanseImg
{
    border-radius: 15rem;
    width: 150px;
    height: 150px;
}

.YearTwentyOne .sansegallery img
{
    width: 565px;
    height: 318.5px;
}

.YearTwentyOne .sansegallery iframe
{
    width: 565px;
    height: 318.5px;
}

.YearTwentyTwo
{
    margin-top: 5rem;
    text-align: center;
}

.YearTwentyTwo .dualCover
{
    border-radius: 15rem;
    width: 150px;
    height: 150px;
}

.YearTwentyTwo .teamdual img
{
    border-radius: 2rem;
    width: 20px;
    height: 20px;
}

.YearTwentyTwo .dualgallery img
{
    width: 565px;
    height: 318.5px;

}