/* Home Page*/
body
{
    background-image: url(Images/forest.jpg);
}

#header
{
    display: inline-flex;
}
#header h1
{
    font-size: large;
    text-align: center;
    padding-left: 10px;
    padding-top: 50px;
}

#header
{
    color: white;
    text-transform: uppercase;
}

#logo
{
    height: 100px;
    width: 100px;
    border-radius: 10rem;
}

#navbar
{
    background-color: whitesmoke;
    padding-left: 15rem;
}

#menu-bar li
{
    display: inline-flex;
    margin: 0.8rem;
    padding-left: 2rem;
}

#menu-bar li a
{
    text-decoration: none;   
}

#menu-bar li a:hover
{
    color: darkorange;
}
p
{
    text-align: center;
    color: white;
}
#homepageimage
{
    display: flex;
    width: 600px;
    height: 400px;
}
h2
{
    text-align: center;
    margin-top: 2rem;
}

/* Team Page */

.team .team-slider{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.team .box .shem{
    padding-top: 0%;
    height: 200px;
    width: 300px;
    padding-top: 1.5rem;
    padding-left: 5rem;
    display: flex;
    gap: 15px;
   
}

.team .box .ezra{
    padding-top: 0%;
    height: 350px;
    width: 300px;
    padding-top: 1.5rem;
    padding-left: 5rem;
    display: flex;
    gap: 50px;
}

.team .box .Noah{
    padding-top: 0%;
    height: 350x;
    width: 400px;
    padding-top: 1.5rem;
    padding-left: 5rem;
    display: flex;
    gap: 50px;
}

.team .box p{
    text-align: center;
    color: white;
    padding-top: 20;
    flex-wrap: wrap;
}

.ourteam
{
    color: white;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    display: block;
}

.ourteam::after
{
    content: "";
    display: block;
    margin: 10px auto;
}

/* Portfolio */
.YearTwentyTwenty
{
    text-align: center;
}

.YearTwentyTwenty h2
{
    margin-top: 5rem;
}

.YearTwentyTwenty .washerlogo
{
    border-radius: 15rem;
    width: 150px;
    height: 150px;
}

.YearTwentyTwenty img
{
    border-radius: 2rem;
    width: 20px;
    height: 20px;
}

.YearTwentyTwenty .collab
{
    color: white;
    text-align: center;
    
}
hr
{
    margin-top: 5rem;
}

.YearTwentyOne
{
    margin-top: 5rem;
    text-align: center;
}

.YearTwentyOne .sanseImg
{
    border-radius: 15rem;
    width: 150px;
    height: 150px;
}

.YearTwentyOne .sansegallery img
{
    width: 565px;
    height: 318.5px;
}

.YearTwentyOne .sansegallery iframe
{
    width: 565px;
    height: 318.5px;
}

.YearTwentyTwo
{
    margin-top: 5rem;
    text-align: center;
}

.YearTwentyTwo .dualCover
{
    border-radius: 15rem;
    width: 150px;
    height: 150px;
}

.YearTwentyTwo .teamdual img
{
    border-radius: 2rem;
    width: 20px;
    height: 20px;
}

.YearTwentyTwo .dualgallery img
{
    width: 565px;
    height: 318.5px;

}