/* Home Page*/
body
{
    background-image: url(Images/forest.jpg);
}

#header
{
    display: inline-flex;
}
#header h1
{
    font-size: large;
    text-align: center;
    padding-left: 10px;
    padding-top: 50px;
}

#header
{
    color: white;
    text-transform: uppercase;
}

#logo
{
    height: 100px;
    width: 100px;
    border-radius: 10rem;
}

#navbar
{
    background-color: whitesmoke;
    padding-left: 15rem;
}

#menu-bar li
{
    display: inline-flex;
    margin: 0.8rem;
    padding-left: 2rem;
}

#menu-bar li a
{
    text-decoration: none;   
}

#menu-bar li a:hover
{
    color: darkorange;
}
p
{
    text-align: center;
    color: white;
}
#homepageimage
{
    display: flex;
    width: 600px;
    height: 400px;
}
h2
{
    text-align: center;
    margin-top: 2rem;
}

/* Team Page */

.teamHeading
{
    color: white;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    display: block;
}

.teamHeading::after
{
    content: "";
    display: block;
    margin: 10px auto;
}

.container{
    background: #000000;
}
 
.our-team{
    padding: 20px 15px 30px;
    background: #fff;
    border-radius: 15px;
    text-align: center;
}
.our-team .pic{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 10px;
    margin-bottom: 25px;
    transition: all 0.5s ease 0s;
}
.our-team:hover .pic{
    background: #17bebb;
    border-radius: 50%;
}
.pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.our-team .title{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #2e282a;
    text-transform: uppercase;
    margin: 0 0 7px 0;
}
.our-team .post{
    display: block;
    font-size: 15px;
    color: #17bebb;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.our-team .social{
    padding: 0;
    margin: 0;
    list-style: none;
}
.our-team .social li{
    display: inline-block;
    margin-right: 5px;
}
.our-team .social li a{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 15px;
    color: #17bebb;
    border: 1px solid #17bebb;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social li a{
    background: #17bebb;
    color: #fff;
}

/* Portfolio */
.YearTwentyTwenty
{
    text-align: center;
}

.YearTwentyTwenty h2
{
    margin-top: 5rem;
}

.YearTwentyTwenty .washerlogo
{
    border-radius: 15rem;
    width: 150px;
    height: 150px;
}

.YearTwentyTwenty img
{
    border-radius: 2rem;
    width: 20px;
    height: 20px;
}

.YearTwentyTwenty .collab
{
    color: white;
    text-align: center;
    
}
hr
{
    margin-top: 5rem;
}

.YearTwentyOne
{
    margin-top: 5rem;
    text-align: center;
}

.YearTwentyOne .sanseImg
{
    border-radius: 15rem;
    width: 150px;
    height: 150px;
}

.YearTwentyOne .sansegallery img
{
    width: 565px;
    height: 318.5px;
}

.YearTwentyOne .sansegallery iframe
{
    width: 565px;
    height: 318.5px;
}

.YearTwentyTwo
{
    margin-top: 5rem;
    text-align: center;
}

.YearTwentyTwo .dualCover
{
    border-radius: 15rem;
    width: 150px;
    height: 150px;
}

.YearTwentyTwo .teamdual img
{
    border-radius: 2rem;
    width: 20px;
    height: 20px;
}

.YearTwentyTwo .dualgallery img
{
    width: 565px;
    height: 318.5px;

}