/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) 
{  
    #navbar
    {
        display: block;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) 
{

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) 
{
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{

}

/* Home Page*/
body
{
    background-color: black;
}

#header
{
    display: inline-flex;
}
#header h1
{
    font-size: large;
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
    letter-spacing: 3px;
}

#header h1::after
{
    content: '';
    background: red;
    display: block;
    height: 3px;
    width: 300px;
    margin: 10px auto;
}

#header
{
    color: white;
    text-transform: uppercase;
}

#logo
{
    height: 50px;
    width: 50px;
    border-radius: 10rem;
}

#navbar
{
    padding-top: 2rem;
    background-color: black;
    text-align: center;
}

#menu-bar li
{
    display: inline-flex;
    margin: 0.8rem;
    padding-left: 1.5rem;
    color: white;
    font-size: larger;
}

#menu-bar li a
{
    color: white;
    text-decoration: white; 
}

#menu-bar li a:hover
{
    color: red;
}

#homepageimage
{
    display: flex;
    width: 600px;
    height: 400px;
}
.Mission
{
    margin-top: 5rem; 
    color: white; 
    text-align: center;
}

.gameicon
{
    text-align: center;
}

.Tools p
{
    font-size: large; 
    color: white; 
    font-weight: bold;
}

.items
{
    display: grid;
    justify-content: center;
    grid-template-columns: 15% 15% 15% 15%;
    text-align: center;
}

h2
{
    margin-top: 5rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    padding-bottom: 10px;
}

h2::after
{
    content: '';
    background: red;
    display: block;
    height: 3px;
    width: 250px;
    margin: 10px auto;
}

h3
{
    text-align: center;
    color: white;
}

h4
{
    text-align: center;
    color: white;
}

.socialMedia
{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 2rem;
}

.homefooter
{
    background-color: white; 
    height: 18rem; 
    width: auto;
    color: black;
    text-align: center;
    font-weight: bold;
}

.homefooter h5
{
    padding-top: 2rem;
    font-size: x-large;
}
.info 
{
    margin-top: 2rem;
    color: black;
}

/* Team Page */

.row
{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 215px;
}

.team
{
    margin: 75px 0;
}

.team h2
{
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    padding-bottom: 10px;
}

.team h2::after
{
    content: '';
    background: red;
    display: block;
    height: 3px;
    width: 250px;
    margin: 10px auto;
}

.profile
{
    text-align: center;
    margin-top: 25px;
    color: white;
}

.profile .img-box
{
    opacity: 1;
    display: block;
    position: relative;
}

.profile h3
{
    margin-top: -25px;
    text-align: center;
    font-size: 33px;
    color: white;
}

.profile h4
{
    color: red;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: -25px;
}

.team
{
    text-align: center;
}

.team p
{
    text-align: center;
}

.img-box ul
{
    gap: 0px;
}

.socialmediaTeam ul
{
    justify-content: center;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 1rem;
}

.join
{
    text-align: center;
    color: white;
    list-style-position: inside;
}

.join p
{
    font-size: larger;
}

.join li
{
    margin-top: 1.5rem;
    letter-spacing: 1.5px;
}

.join h2
{
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    padding-bottom: 10px;
}

.join h2::after
{
    content: '';
    background: red;
    display: block;
    height: 3px;
    width: 400px;
    margin: 10px auto;
}


/* Portfolio */

.portfolio h2
{
    margin-top: 5rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 10px;
    color: white;
    padding-bottom: 10px;
}

.portfolio h2::after
{
    content: '';
    background: red;
    display: block;
    height: 3px;
    width: 100px;
    margin: 10px auto;
}

.portfolio h3
{
    font-weight: bold;
    color: white;
    font-size: larger;
    letter-spacing: 3px;
}

.portfolio h3:hover
{
    color: red;
}

.portfolio h4
{
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    color: red;
    padding-bottom: 10px;
}

.YearTwentyTwenty
{
    text-align: center;
}

.YearTwentyTwenty h3
{
    color: red;
}

.YearTwentyTwenty .washerlogo
{
    border-radius: 15rem;
    width: 150px;
    height: 150px;
}

.YearTwentyTwenty .click
{
    color: white;
    margin-top: 3rem;
}

.YearTwentyTwenty .play
{
    width: 64px;
    height: 64px;
}

.YearTwentyTwenty img
{
    border-radius: 2rem;
    width: 20px;
    height: 20px;
}

.YearTwentyTwenty .collab
{
    color: yellow;
    text-align: center;
    
}

.YearTwentyOne
{
    margin-top: 5rem;
    text-align: center;
}

.YearTwentyOne .sanseImg
{
    border-radius: 15rem;
    width: 150px;
    height: 150px;
}

.YearTwentyOne h3
{
    color: red;
}

.YearTwentyOne .click
{
    color: white;
    margin-top: 3rem;
}

.YearTwentyTwo
{
    margin-top: 5rem;
    text-align: center;
}

.YearTwentyTwo .dualCover
{
    border-radius: 15rem;
    width: 150px;
    height: 150px;
}

.YearTwentyTwo .teamdual img
{
    border-radius: 2rem;
    width: 20px;
    height: 20px;
}

.YearTwentyTwo h3
{
    color: red;
}

.YearTwentyTwo .click
{
    color: white;
    margin-top: 3rem;
}

/*Play Our Games */

.games
{
    margin-top: 15rem;
    font-weight: bold;
    font-size: x-large;
    letter-spacing: 1.5rem;
}

/*PROJECTS */

.projects
{
    color: white;
    text-align: center;
}

.projects h3
{
    color: red;
}
